<div class="p-5">
  <button class="btn btn-success" (click)="bilan()">
    Bilan
  </button>
  <div class="alert alert-primary mt-3" *ngIf="show">
    Offers count : {{bilan()}}
  </div>
</div>
<table class="table">
  <tr>
    <th>Ref</th>
    <th>Titre</th>
    <th>Entreprise</th>
    <th>Options</th>
  </tr>
  <tr *ngFor="let o of listOffre">
    <td>
      {{o.ref}}
    </td>
    <td>
      {{o.titre}}
    </td>
    <td>
      {{o.entreprise}}
    </td>
    <td>
      <button class="btn btn-info" [disabled]="!o.etat">
        Submit
      </button>
    </td>
  </tr>
</table>
